{% extends "base.html.twig" %}

{% block container %}
    {% for post in posts %}
        <div class="card mt-2 mb-2">
            <div class="card-body">
                <h5 class="card-title">Publication de {{ post.user.username|capitalize }}</h5>
                <p class="card-text">{{ post.content }}</p>
                <small>{{ post.createdAt|date('d/m/Y') }}</small>

                <hr>

                <h6>Commentaires</h6>

                {% for comment in comments %}
                    {% if comment.post == post %}
                        <div class="card">
                            <div class="card-body">
                                <i><b>Ecrit par {{ comment.user.username }}</b></i> - {{ comment.content }}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

                <a class="mt-2 btn btn-primary btn-sm" href="{{ path('create_comment', {'id': post.id } ) }}">Ajouter un commentaire</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}