<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ asset('img/favicon.png') }}" type="image/png">
    <title> DreamBank - GED </title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>

<body>
{{ include("header.html.twig") }}
{% block content %}
    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="banner_content">
                            <h2>
                                Micro bloogin
                            </h2>
                            <p>
                                blog of dream
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="home_right_img">
                            <img class="img-fluid" src="{{ asset('img/banner/home-right.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Recent Update Area =================-->
    <section class="recent_update_area">
        <div class="container">
            {% block container %}
            {% endblock %}
        </div>
    </section>

    <section class="impress_area">
        <div class="container">
            <div class="impress_inner">
                <h2> welcome to the world of micro blogging </h2>
                <p>Our tool for the gestion of electronic documents is available on most systems and will ease your work as well as ours.
                    <br> You only have to log in to start, so why shouldn't you ? </p>

            </div>
        </div>
    </section>
{% endblock %}

{{ include("footer.html.twig") }}

</body>
</html>