<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="{{ asset('index.html') }}">Micro-blog</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-center w-75">
                        <li class="nav-item active"><a class="nav-link" href="{{ asset('index.html') }}">Home</a></li>
                        <li class="nav-item active"><a class="nav-link" href="{{ path('create_post') }}">Créer un post</a></li>
                    </ul>
                            <div class="d-flex align-items-center">
                                <a class="primary_btn" href="{{ path('fos_user_security_logout') }}"><span>Log out</span></a>
                            </div>
                </div>
            </div>
        </nav>
    </div>
</header>