<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ asset('img/favicon.png') }}" type="image/png">
    <title> Micro blogging  </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('vendors/linericon/style.css') }}">
    <!-- main css -->
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

</head>

<body>
<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                {#<a class="navbar-brand logo_h" href={{ path('index') }}><img src="{{ asset('img/logo.png') }}" alt=""></a>#}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->
{% block content %}
    <!--================Home Banner Area =================-->
    <section class="home_banner_area">
        <div class="banner_inner">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="banner_content">
                            <h2>
                                Micro blogging
                            </h2>
                            <div class="d-flex align-items-center">
                                <a class="primary_btn" href={{ path('fos_user_security_login') }}><span>Login</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="home_right_img">
                            <img class="img-fluid" src="{{ asset('img/banner/home-right.png') }}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Home Banner Area =================-->

    <!--================Start Features Area =================-->
    <section class="section_gap features_area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="left_features">
                        <img class="img-fluid" src="{{ asset('img/f-img.png') }}" alt="">
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <!-- single features -->
                </div>
            </div>
        </div>
    </section>
    <!--================End Features Area =================-->

    <!--================Impress Area =================-->
    <section class="impress_area">
        <div class="container">
            <div class="impress_inner">

                <a class="primary_btn" href={{ path('fos_user_security_login') }}><span> login </span></a>
            </div>
        </div>
    </section>
    <!--================End Impress Area =================-->
{% endblock %}


</body>

</html>